//- Extiende una plantilla base llamada 'layout'.
extends layout 

//- Define un bloque de contenido llamado 'layout-content' que reemplazará el contenido correspondiente en la plantilla base.
block layout-content  

    //- Crea un contenedor div con las clases 'View' y 'WelcomeView'.
    div.View.WelcomeView

        //- Crea un contenedor div con la clase 'Message'.
        div.Message 

            //- Crea un contenedor div con la clase 'Title'.
            div.Title 

            //- Crea un elemento span con la clase 'Details'.
            span.Details 

        //- Crea un contenedor div con la clase 'NavButtons'.
        div.NavButtons 
